    <footer>    
      <div class="logo">
        <img src="../images/logo.png" />
      </div>
      
      <div class="copyright">Copyright &copy; <%= new Date().getFullYear(); %> Hindu Youth Association. All rights reserved. Registered charity no. 1142405</div>
    </footer>
  </section>
  <script src="/javascripts/script.js"></script>
</body>
</html>