<%- include('head.ejs'); %>

<header>
  <div class="header-wrapper">
    <a href="/">
      <div class="brand">
        <div class="logo">
          <img src="images/logo.png" />
        </div>
        <span class="brand-title">Hindu Youth Association</span>
      </div>
    </a>
    <%- include('nav.ejs'); %>
    <span class="nav-dropdown"></span>    
  </div>  
</header>