@include breakpoint(tablet) {
  .about {    
    .subnav { 
      justify-content: center;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 72px;
      background: white;
      padding: $margin-lg;
      margin-top: 0;
      ul {
        li {
          padding: 0 $margin-xl;        
          a {
            color: $color-text-secondary;
            &:hover {
              font-weight: 500;
            }
            &.active {            
              font-weight: 500;
              border-bottom: 2px solid $color-secondary;
              padding: $margin-sm $margin-default;
            }          
          }
        }
      }      
    }
    section {
      padding-bottom: $margin-lg;
    }
    #committee,
    #volunteers {
      .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .member {
          width: calc(25% - #{$margin-default*2});
          margin: $margin-lg 0;
          .name {
            font-weight: normal;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}