body {    
  font: 300 $font-size-default $font-family-default;
  color: $color-text;  
  padding: $margin-default;
  margin: 0 auto;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

a {
  color: $color-secondary;
  text-decoration: none;
  &:hover {
    color: darken($color-secondary,10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: 500;  
  margin: 0;  
}

.content {
  padding: $margin-lg 0;
}

.title {
  text-align: center;
  margin: $margin-lg;
  color: $color-secondary;
}

img {
  max-width: 100%;
}


.main {
  p:first-of-type {
    font-weight: normal;
  }
}


@include breakpoint(desktop) {
  .wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}