header {
  display: flex;    
  flex-direction: column;
  padding-bottom: $margin-sm;
  box-shadow: 0px 2px 3px -3px rgba(0, 0, 0, 0.8);
  .logo {
    width: 65px;
    margin-right: $margin-default;    
  }  
  .brand {
    display: flex;    
    .brand-title {
      font: 700 18px $font-family-header;
      text-transform: uppercase;
      align-self: center;
      margin-top: $margin-md;
    }        
  }  
}

@include breakpoint(tablet) { 
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@include breakpoint(desktop) { 
  header {        
    .brand {      
      .brand-title {
        font-size: 28px;
      }        
    }  
  }
}