header {
  display: flex;  
  align-items: baseline;
  justify-content: space-between;
  .logo {
    width: 65px;
    margin-right: $margin-default;    
  }  
  .brand {
    display: flex;
    align-items: flex-end;
    .brand-title {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 28px;
      span {
        font-size: 12px;
      }
    }        
  }  
}