.home {
  .classes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    .class {
      border: 2px solid $color-secondary;
      border-radius: 15px;
      width: 100%;      
      margin: $margin-xl 0;
      padding: $margin-default*2 $margin-default;
      position: relative;
      display: flex;      
      flex-direction: column;
      align-items: center;
      text-align: center;
      h3 {
        position: absolute;
        top: -18px;
        background: #ffffff;
        padding: 0 $margin-lg;
      }
      > div {
        padding: $margin-sm;
      }
    }
  }  
}

@include breakpoint(tablet) {
  .home {
    .classes {
      .class {
        width: 250px;
      }
    }
  } 
}