// Colours
$color-text: #202124;
$color-brand: #CE6828;
$color-secondary: #288ECE;

// Font family
$font-family-default: "Montserrat", Helvetica, Arial, sans-serif;

// Font zize
$font-size-small: 14px;
$font-size-default: 18px;
$font-size-large: 22px;

$font-size-intro: $font-size-large;

// Spacing
$margin-default: 12px;
$margin-large: 16px;